include protocol_buffer.py
# the source files
include proto/ *
# the files generated
include proto_gen/ *
# configuration files
include bact_archiver/*.cfg
# documentation files
include doc/conf.py
include doc/*.rst

include THANKS
include Changelog
