# the source files
include proto/*
# the files generated
include proto_gen/*
include bact_archiver/*.py
# configuration files
include bact_archiver/*.cfg
# documentation files
include doc/conf.py
include doc/*.rst

include THANKS
include Changelog
